body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:"ipm","Menlo","Courier New",monospace !important;
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 15px;
}
a {
    text-decoration: none;
    color: #999;
}

h1, h2, h3, h4, h5, h6 {
    font-family:"ipm","Menlo","Courier New",monospace !important;
}
p {
    font-size: 16px !important;
    line-height: 1.4em !important;
    color: #333;
}

/** my stuff **/

.name{
  white-space: nowrap;
  font-size: 5vw;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
    padding-top: 6px;
}

.my-button {
    text-decoration: none;
    color: #999;
    padding: 5px;
    border: none;
    box-shadow: none;
    transition: box-shadow .2s, border 3s, ease-out;
}

.my-button:hover {
    border: 2px solid #999;
    box-shadow: 2px 3px black;
    transition: border .1s, box-shadow 1s, ease-in;
}

a:active{
  color:#cf0b3a;
  border-color: #cf0b3a;
  transition: color .1s, border-color .5s;
}

img{
  width:100%;
}

.post{
  margin-bottom: 20px;
}
